body, html {
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.content{
    display: flex;
    width: 100%;
}
.navbar{
    width: 10%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #ebebeb;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.title-navbar{
    font-weight: 500;
    text-decoration: underline;
    padding: 0 0 10px 25px;
}
.btn-new{
    margin: 0 auto;
    padding: 5px;
    background: rgb(41, 41, 170);
    border-radius: 3px;
    border: 1px solid black;
    color: #fff;
    text-decoration: none;
}
.btn-new:hover{
    background: rgb(93, 93, 187);
    transform: scale(1.1);
}
#content{
    width: 90%;
    margin-left: auto;
}
.list-unstyled{
    padding-left: 0;
    list-style: none;
}
.list-unstyled.list-btn{
    margin: 0 auto;
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.flex-btn{
    display: flex;
    justify-content: center;
}
.btn-user{
    margin: 10px;
}
.form-group{
    margin: 10px 0;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}
.form-control{
    display: block;
    width: 100%;
}
.form-connexion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-form{
    display: flex;
    justify-content: center;
}
.form-add{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ebebeb;
    padding: 20px 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
}